.plant-logo {
    width: 8%;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 7em;
    background-color: white;
    margin-bottom: 50px;
}

.categories li:hover {
    background-color: greenyellow;
    border-radius: 10px;
    /* Cambia el color de fondo al hacer hover */
    /* También puedes añadir otros estilos de hover según tus preferencias */
}