.plant-logo {
    width: 8%;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 7em;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.categories li:hover {
    background-color: greenyellow;
    border-radius: 10px;
}