.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: #2f3e46;
    margin-top: 100px;
    background-color: #dad7cd;
    padding: 21px;
}